#cer-to-do-list {

}
.cer-category {
    background-color: #2ba6cb;
    margin-bottom: 5px;
    border-radius: 5px;
}
.cer-category-name {
    font-size: 2rem;
}
.cer-category-tags {

}
.cer-category-date {

}
.cer-subcategories {
}